
.cls
{
    clear: both;
}
a:focus
{
    outline: none;
}
img
{
    border-style: none;
    border-width: 0;
}
#menu1 ul li a
{
    color: #999;
    background-position: left bottom;
}
#menu1 ul li span
{
    background-position: left top;
}
#menu1
{
    position:relative;
    top:-60px;
    left:20%;
    height: 60px;
    width: 69%;
}
#menu1 ul
{
    list-style: none;
    float: left;
    width: 100%;
    padding: 0;
}
#menu1 ul li
{
    overflow: hidden;
    float: left;
    height: 60px;
    width: 10.6%;
    display: block;
    text-align: center;
    margin-left: 1px;
    padding: 0;
}
#menu1 ul li a
{
    float: left;
    text-decoration: none;
    color: #ffc412;
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 15px;
    padding: 12px 0;
    text-align: center;
}
#menu1 ul li span
{
    float: left;
    text-decoration: none;
    color: #fff;
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 15px;
    padding: 12px 0;
    text-align: center;
}


#menu2 ul li a
{
    color: #999;
    background-position: left bottom;
}
#menu2 ul li span
{
    background-position: left top;
}
#menu2
{
    position:relative;
    top:-60px;
    left:20%;
    height: 60px;
    width: 69%;
    z-index:1000;
}
#menu2 ul
{
    list-style: none;
    float: left;
    width: 100%;
    padding: 0;
}
#menu2 ul li
{
    overflow: hidden;
    float: left;
    height: 60px;
    width: 10.6%;
    margin-left:1px;
    display: block;
    text-align: center;
    padding: 0;
}
#menu2 ul li a
{
    float: left;
    text-decoration: none;
    color: #ffc412;
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 15px;
    padding: 12px 0;
    text-align: center;
}
#menu2 ul li span
{
    float: left;
    text-decoration: none;
    color: #fff;
    clear: both;
    width: 100%;
    height: 30px;
    line-height: 15px;
    padding: 12px 0;
    text-align: center;
}